* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #95959d;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 575px;
    width: 475px;
    background-color: #63728c;
}

#content p, u {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    margin-top: -20px;
}

#register-div {
    width: 86%;
    height: 86%;
    margin: 7% 7%;
    background-color: #f2f3f9;
    border-radius: 5px;
}

h2 {
    padding-top: 20px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

#register-div h4 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

input {
    height: 34px;
    border: 1px solid #cacace;
    border-radius: 3px;
}

input::placeholder {
    color: #95959d;
    padding: 10px;
}

#imie {
    margin-top: 15px;
    float: left;
    margin-left: 10%;
    width: 35%;
    margin-right: 5%;
}

#nazwisko {
    margin-top: 15px;
    float: right;
    width: 35%;
    margin-right: 10%;
}

#email {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 15px;
}

#haslo,
#powhaslo {
    width: 80%;
    margin: 15px 10%;
}

#checkbox {
    float: left;
    margin-left: 10%;
}

#checkbox-div {
    margin: 15px;
}

#checkbox-div p {
    text-align: center;
    font-size: 12px;
    color: #95959d;
    padding: 7px;
}

#checkbox-div a {
    text-decoration: none;
    color: #47984c;
}

#button {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    border-radius: 3px;
    background: #69ba6e;
    color: #fff;
    font-weight: 700;
}

#blad {
    text-align: center;
    margin-top: 50px;
}
